.room {
  display: inline-block;
  width: 100px;
  height: 80px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  box-sizing: border-box;
}

.open {
  background-color: #bdb084;
  color: white;
}

.hold {
  background-color: #bdb084;
  opacity: 0.8;
  color: #ffffff;
  border: 2px dashed #8a6f0e;
}

.hold.mine {
  border: 2px dashed red;
}

.full {
  background-image: linear-gradient(
    45deg,
    #e8e8e8 25%,
    #bdb084 25%,
    #bdb084 50%,
    #e8e8e8 50%,
    #e8e8e8 75%,
    #bdb084 75%,
    #bdb084 100%
  );
  background-size: 56.57px 56.57px;
}

.legend {
  display: block;
  width: 6em;
  box-sizing: border-box;
}
